@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

/* start off by defaulting all margin/padding/border settings to 0/none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #141414;
    background-color: #ffeee4;
}

/* headings and logo */
h1,
/* h2, */
h3 {
   font-family: Oswald, sans-serif;
   letter-spacing: 0.25rem;
   color: #141414;
}

h2 {
   font-family: Bradley Hand ITC;
   letter-spacing: 0.25rem;
   color: #141414;
}
h3 {
   letter-spacing: 0.125rem;
   text-transform: uppercase;
}

hr {
    border-top: 0.125rem solid #3a3a3a;
    width: 100%;
    margin: 0.3125rem 0 0.625rem;
}
 
.active {
    border-bottom: 0.0625rem solid #141414;
}

.button {
    background-color: #ee901d;
    border: none;
    color: #fafafa;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    font-weight: bold;
    box-shadow: 0.3125rem 0.625rem #888888;
    margin-top: 1.875rem;
}
 
 .button:hover {
    background-color: #f57309;
}

#logo {
    float: left;
    font-size: 200%;
    margin-right: auto;
    margin-left: 1.0rem;
    /* margin-left: auto; */
    text-align: center;
}

#menu {
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.125rem;
    float: right;
}
 
 #menu,
 #logo {
    line-height: 4.6875rem;
}
 
#menu li {
    float: left;
    list-style-type: none;
    margin-right: 1.875rem;
}
 
#menu a {
    text-decoration: none;
    color: inherit;
}
 
#menu a:hover {
    border-bottom: 0.0625rem solid #141414;
}

/* hero image and text */
#hero-outer {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* animates fade-in effect on loading page */
#hero-image {
    height: 37.5rem;
    width: 100%;
    background: url("../images/gallery-photo8.jpg") no-repeat center center;
    animation: hero-fade-in 5s;
}

/* creates the fade-in for the hero image */
@keyframes hero-fade-in {
    0% {
       opacity: 0.5;
    }
 
    100% {
       opacity: 1;
    }
}

#welcome-text {
    letter-spacing: 0.25rem;
    padding: 2.5rem;
    background-color: #692704;
    border-radius: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ff0062;
    text-transform: uppercase;
}

#welcome-text h2 {
    color: #ffffff;
    font-size: 150%;
}
 
#welcome-text h3 {
    color: #ffffff;
    font-size: 450%;
    font-weight: bold;
    line-height: 1;
    padding-top: 1.875rem;
}

#tagline {
    text-align: center;
    margin: 0;
    padding: 1.875rem;
    font-size: 280%;
    text-transform: uppercase;
    line-height: 1;
}

/*Workshop goals Section*/
h2 {
    text-align: center;
    font-size: 200%;
    padding: 30px 0px;
}

#goals-wrapper {
    padding-top: 30px;
    width: 100%;
    font-size: 120%;

}

#goals-wrapper h3 {
    padding-bottom: 10px;

}
.workshop-goals-left {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    margin-bottom: 50px;
}

.workshop-goals-right {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 500px;
    margin-bottom: 50px;
}

.text-left {
    text-align: center;
    line-height: 40px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-right {
    text-align: center;
    line-height: 40px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Gallery Flex Grid */
.gallery-text {
    padding: 30px;
    text-align: center;
    font-style: italic;
    display: flex;
    margin: auto;
    height: 50%;
    width: 50%;
    transform: translate(0%, 0%);
}

.gallery-grid {
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding: 2.5em;
    box-shadow: 2px 2px 7px 0 #00000080;
    background-color: #E5C7BC;
    
}

.gallery-grid>div {
    display: flex;
}

.gallery-grid>div>img {
    width: 100%;
    align-items: center;
    display: flex;
}

.gallery-grid img {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border: 6px solid rgb(245, 62, 62);
}

.gallery-grid img:hover {
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

/* footer styling */
footer {
    height: 14.1rem;
    padding-top: 1rem;
}
 
#footer-group {
    width: 43.75rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.875rem;
}

#footer-left-panel {
    float: left;
    text-align: left;
}
 
#footer-right-panel {
    float: right;
    text-align: left;
}
 
#footer-center-panel {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.footer-text {
    font-size: 90%;
    font-weight: 600;
}
 
#opening-times li {
    list-style-type: none;
}
 
.social-networks {
    text-align: left;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0.5rem;
    color: #141414;
    text-decoration: none;
}

#disclaimer {
    clear: both;
    text-align: center;
    padding: 1.875rem;
}

/* this is styling for the Books page  */
#carte-section {
    background-image: url("../images/gallery-photo8.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    overflow: hidden;
    min-height: 56.25rem;
}

#carte-tagline {
    letter-spacing: 0.25rem;
    padding: 2.5rem;
    background-color: #CF8B64;
    text-align: center;
    font-size: 250%;
    text-transform: uppercase;
    max-width: 60.625rem;
    margin: 3.125rem auto 0 auto;
    color: #000000;
    border-radius: 5rem;
}

.wrapper-carte {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    max-width: 75rem;
    margin: auto;
    padding: 0 1.25rem;
    align-items: flex-start;
}

.wrapper-carte div {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
}

.wrapper-carte * {
    margin: 0 0.625rem;
    flex: 1 100%;
    border-radius: 0.625rem;
    text-align: left;
}

.panel-carte {
    /* background: #fafafa; */
    flex: 0 1 21.875rem;
    margin: 1.56rem auto;
    background-color: #692704;
}

.carte-header {
    border-bottom: 0.25rem solid #f57309;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 180%;
    padding-top: 0.625rem;
    font-family: Oswald, sans-serif;
    letter-spacing: 0.25rem;
    font-weight: bold;
    color: #fafafa;
}

.panel-carte p {
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: #ffffff;
}

.panel-carte span {
    margin-top: 0.625rem;
    letter-spacing: 0.125rem;
    font-size: 1.17rem;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: #ff5700;
}

.carte-footer {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-top: 0.25rem solid #f57309;
    border-radius: 0;
    margin: 0.8rem;
    padding-top: 0.625rem;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 1.17rem;
    line-height: 1.2;
}

.carte-footer p {
    flex: 0 100%;
    text-align: center;
}

/* styling for the contact form */
#contact-section {
    background-image: url("../images/gallery-photo8.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    overflow: hidden;
    min-height: 56.25rem;
}

#contact-panel-container {
    width: 75rem;
    margin: 4.6875rem auto;
}

.contact-panel {
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.06875rem;
    font-size: 110%;
    background-color: #E5C7BC;
    border-radius: 0.625rem;
    padding: 1.875rem;
    height: 40.5rem;
}

.contact-panel h2 {
    text-transform: uppercase;
    font-size: 180%;
    padding-bottom: 1.25rem;
}

#contact-panel-left {
    width: 25rem;
    float: left;
}

#contact-panel-right {
    width: 37.5rem;
    float: right;
}

.text-input {
    background: transparent;
    font-family: Lato, sans-serif;
    font-size: 100%;
    font-weight: 600;
    width: 100%;
    margin: 0.3125rem 0 1.25rem 0;
    border: 0.0625rem solid #141414;
    border-radius: 0.125rem;
    padding: 0.3125rem;
    letter-spacing: 0.06875rem;
}

.text-input:hover {
    border-color: #fafafa;
}

.text-input-line {
    height: 1.56rem;
}

.text-input-box {
    height: 9.375rem;
    resize: none;
}

.radio-label {
    margin-right: 0.625rem;
}

#location-map {
    width: 100%;
    height: 23.125rem;
}

#location-iframe {
    width: 100%;
    height: 100%;
    border: none;
    scroll-behavior: unset;
    margin: 0;
}

/* For larger to medium screens size from 81.25rem wide and down */
@media screen and (max-width: 81.25rem) {
    #contact-panel-container {
       width: 100%;
       display: block;
    }
 
    #contact-panel-left {
       margin: auto;
       float: none;
    }
 
    #contact-panel-right {
       margin: 4.6875rem auto;
       float: none;
    }

        /*workshop Goals Tablet View*/

    .text-left {
        width:85%;
        margin:0 auto;
        padding-bottom: 10px;
    }
    
    .text-right {
        width:85%;
        margin:0 auto;
        padding-bottom: 10px;
    }
    
    /*Gallery View*/
    .gallery-grid {
        padding: 1em 1em;
        grid-gap: 1.5em;
        grid-template-columns: 1fr 1fr;

    }
}

 /* For small screen sizes from 46.875rem wide and down */
@media screen and (max-width: 46.875rem) {
    #menu {
       clear: left;
       float: left;
       margin-left: 1.25rem;
       margin-bottom: 1.25rem;
       line-height: 1.56rem;
       width: 90%;
    }
 
    #footer-group {
       width: 80%;
    }
 
    #footer-center-panel,
    #footer-right-panel,
    #footer-left-panel {
       clear: both;
       float: left;
       padding-left: 2.125rem;
       padding-bottom: 1rem;
    }
 
    #contact-panel-right,
    #contact-panel-left {
       width: 21.875rem;
    }

    /*Workshop Goals Mobile View*/

    .workshop-goals-left {
        display: block;
        margin-bottom: 0px;

    }

    .workshop-goals-right {
        display: block;
        margin-bottom: 0px;
    }

    .text-left {
        line-height: initial;
    }

    .text-right {
        line-height: initial;
    }

    .text-left p {
        font-size: 110%;
    }

    .text-right p {
        font-size: 110%;
    }

    .image-left {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 240px;
        width: 300px;
    }

    .image-right {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 240px;
        width: 300px;
    }

    /*Reasons To Join Mobile View*/

    .skills {
        clear: both;
        width: 70%;
        position: relative;
        left: 15%;
    }

    .skills.text h3 {
        font-size: 120%;
    }

    .skills-text p {
        font-size: 110%;
    }
    
}

/* For very small screen sizes from 28.125rem wide and down */
@media screen and (max-width: 28.125rem) {
   
    #contact-panel-left,
    #contact-panel-right {
       width: 15.75rem;
       height: 41.25rem;
       padding: 2rem 1.5rem;
    }
 
    #welcome-text {
       padding: 2rem 0.625rem;
    }
 
    #welcome-text h3 {
       font-size: 400%
    }
}



